@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #3b2a2a;

  main {
    padding-top: 10vh;
    @extend %flex-centered;
    flex-direction: column;
  }
}

/////////////////////////////////////////////////

@media only screen and (min-width: 425px) {
  body {
    main {
      padding-top: 15vh;
    }
  }
}
