// variables
$primary: #3b2a2a;
$secondary: rgb(236, 134, 16);
$tertiary: rgb(255, 240, 221);

$text-primary: rgb(91, 56, 138);
$text-secondary: white;

$accent: rgb(202, 172, 241);

$base-space: 10px;

// inheritance
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
